head
    title Real Time

body
    h1 Front End Real time access
    form#msg-form
        input(type='text')#msg
        button Send

    script(src='/socket.io/socket.io.js')
    script(src='/js/socketLogic.js')
